*{
	margin:0;
	padding:0;
}
.w{
	width:940px;
	margin:0 auto;
}
#navigation {
    position: absolute;
    top: 70px;
    right: 200px;
    font-size: 13px;
	color: gray;
}
.clearfix:before,.clearfix:after{
	content: "";
	display: table;
	clear:both;
}
.header{
	padding-top:10px;
	padding-bottom:10px;
	
}
.header .logol{
	float:left;
	font-size:35px;
	color:#137bd3;
}
.header .fo{
	float:left;
	margin-left:170px;
	margin-right:170px;
	margin-top:20px;
	width:173px;
}
.header input{
	width:140px;
	height:25px;
	background: url(../Image/header/search.png);
	float:left;
	border:none;
	padding-left:5px;
}
.header img{
	float:left;
}
.header .call{
	float:left;
	color:#137bd3;
	font-size: 20px;
	height:40px;
	margin-top:10px;
	
}
.header p{
	float:left;
	margin-top:5px;
	margin-left:4px;
}
.nav{
	height:50px;
	background-color: #156bae;
	line-height: 50px;
	padding-left:10px;
}
.nav li{
	float:left;
	list-style: none;
	padding-right:25px;
	padding-left:25px;
	border-right:#8d9093 1px dotted;
}
.nav .fir{
	padding-left:10px;
}
.nav a{
	color:whitesmoke;
	font-size:17px;
	text-decoration: none;
}
.nav a:hover{
	color:white;
	text-decoration: underline;
}
.icon{
	margin-top:20px;
}
.icon .s{
	float:left;
	width:50px;
	margin-left:20px;
	margin-right:20px;
}
.icon .left{
	margin-left:220px;
}
.icon .s p{
	font-size:15px;
	text-align: center;
}
.show .line{
	margin-left:200px;
	padding-top:20px;
	margin-bottom:20px;
}
.show .pic div{
	float:left;
}
.show .pic img{
	width:200px;
	height:150px;
	margin-right:20px;
}
.show .fir{
	margin-left:20px;
}

.content{
	margin-top:20px;
	background-color:rgba(122,161,233,0.2);
}
.content .line>img{
	width:170px;
}
.content .intro{
	width:400px;
	border-right:#137BD3 dashed 1px;
	padding: 10px;
	padding-right:60px;
}
.content .intro p{
	color:black;
	font-size:13px;
}

 .content .ri{
 	float:right;
 	width:420px
 }
.content .food .f{
	float:left;
	margin-left:40px;
	margin-top:10px;
}
.content .food img{
	width:70px;
}
.content .food .str{
	width:130px;
	float:left;
	margin-right:10px;
	margin-bottom:20px;
}
.content .food .pa{
	padding-right:10px;
	font-size:15px;
}
.content .ri .topic{
	margin-top:10px;
	margin-left:15px;
}
.fin{
	height:130px;
	margin-top:5px;
	background-color:#156bae;
}
