<!DOCTYPE html>
<html>
	<head>
		<title>贾家庄旅游景区</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="Css/jia.css" />
	</head>
	<body>
		<div class="header w clearfix">
			<p class="logol">贾家庄旅游景区</p>
			<div class="fo">
				<form action="#">
					<input type="text" placeholder="贾家庄" />
				</form>
				<a class="se" href="#"><img src="Image/header/search-.png" alt="" /></a>
			</div>	
			<div class="call">
				<a href=""><img src="Image/header/call.png" alt="" /></a>
				<p>12345678900</p>
			</div>	
		</div>
		<div class="nav">
			<ul class="w">
				<li class="fir"><a href="#">首页</a></li>
				<li><a href="#">旅游攻略</a></li>
				<li><a href="#">活动</a></li>
				<li><a href="#">联系我们</a></li>
			</ul>
			<div id="navigation">
				<a href="./login">登录</a>
				&nbsp;&nbsp;
				<a href="./register">注册</a>
			</div>
		</div>
        <div class="banner w">
				<img src="Image/banner/jia.png" alt="贾家庄" />
		</div>
		<div class="icon w">
			<div class="s left">
				<a href="#">
					<img src="Image/icon/gl.png" alt="" />
				</a>		
				<p>攻略</p>
			</div>
			<div class="s">
				<a href="#">
					<img src="Image/icon/gw.png" alt="" />
				</a>	
				<p>美食</p>
			</div>
			<div class="s">
				<a href="#">
					<img src="Image/icon/jd.png" alt="" />
				</a>	
				<p>购物</p>
			</div>
			<div class="s">
				<a href="#">
					<img src="Image/icon/jt.png" alt="" />
				</a>	
				<p>景点</p>
			</div>
			<div class="s right">
				<a href="#">
					<img src="Image/icon/ms.png" alt="" />
				</a>
				<p>交通</p>
			</div>
		</div>
		<div class="show w clearfix">
			<div class="line">
				<img src="Image/line/line.png" alt="" />
				风采展示
				<img src="Image/line/line.png" alt="" />
			</div>
			<div class="pic">
				<div class="fir" >
					<img src="Image/show/lv1.jpg" alt="" />
					<p>贾家庄文化生态</p>
				</div>
				<div>
					<img src="Image/show/lv2.jpg" alt="" />
					<p>贾家庄文化生态</p>
				</div>
				<div>
					<img src="Image/show/lv3.jpg" alt="" />
					<p>贾家庄文化生态</p>
				</div>
				<div>
					<img src="Image/show/lv0.jpg" alt="" />
					<p>贾家庄文化生态</p>
				</div>	
			</div>
		</div>
		<div class="content w clearfix">
			<div class="ri">
				<div class="line">
					<img src="Image/line/line.png" alt="" />
					美食推荐
					<img src="Image/line/line.png" alt="" />
				</div>
				<div class="food">
					<div class="f">
						<img src="Image/food/kd.png" alt="" />
						<p>裤带面</p>
					</div>
					<div class="f">
						<img src="Image/food/sh.png" alt="" />
						<p>山河故人</p>
					</div>
					<div class="f">
						<img src="Image/food/yr.png" alt="" />
						<p>蒜泥羊肉</p>
					</div>	
					<div class="f pa">
						<img  class="str" src="Image/food/street.png" alt="" />
						贾街：贾家庄村近年来响应国家政策 ，利用集体经济，根据自身条件打造出的文化特色美食一条街。
					</div>		
				</div>
				<div class="line">
					<img src="Image/line/line.png" alt="" />
					今日话题
					<img src="Image/line/line.png" alt="" />
				</div>
				<div class="topic">
					<p>来到贾家庄，游客可以真正的领略什么是"集体主义、共同富裕、和谐发展"的红色村庄。</p><br />
                    <p>来到贾家庄，游客可以真正的感受什么是"回归自然、绿色氧吧、生态家园"的温馨。</p><br />
					<p>来到贾家庄，游客可以感受"拓展培训、集体休闲、农耕体验"所带来的挑战和快乐。</p>
				</div>
				
			</div>
			
			<div class="le">
				<div class="line">
					<img src="Image/line/line.png" alt="" />
					景区介绍
					<img src="Image/line/line.png" alt="" />
				</div>
			
				<div class="intro">
					<p>景区名称：汾阳贾家庄</p>
				　　<p>景区级别：未评级</p>
				　　<p>地址：山西省吕梁山东麓汾河西畔</p>
				　　<p>门票：15元</p>
				　　<p>开放时间：全天</p>
				　　<p>交通：离301国道很近，车程大约在20分钟内，过路的班车很多，可以直接在汾阳市内包车前往。</p>
				　　<p>景区相关服务设施：村子有免费的停车场，其他银行、邮局、医院等相关服务设施都可到汾阳市找。</p>
				　　<p>住宿：汾阳宾馆，标准间188元/间，地址：汾阳英雄北路2号，电话：0358-7221222</p>
				　　<p>周边景区：杏花村  上庙太符观  后土圣母庙  建昌文峰塔  峪道河遗址</p>
				</div>
			</div>
			
			
		</div>
		<div class="fin">
		</div>
	</body>
</html>
